.nav-link {
    color: white;
}

.contact-form-wrap {
    position: relative;
}

.contact-form-wrap::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.3;
    filter: blur(100px);
    z-index: -1;
    background-color: #ff99e2;
    background-image:
        radial-gradient(at 25% 84%, hsla(198, 68%, 74%, 1) 0px, transparent 50%),
        radial-gradient(at 50% 5%, hsla(28, 73%, 78%, 1) 0px, transparent 50%),
        radial-gradient(at 93% 16%, hsla(96, 65%, 75%, 1) 0px, transparent 50%),
        radial-gradient(at 13% 6%, hsla(252, 91%, 65%, 1) 0px, transparent 50%),
        radial-gradient(at 12% 86%, hsla(87, 98%, 61%, 1) 0px, transparent 50%),
        radial-gradient(at 9% 72%, hsla(123, 65%, 71%, 1) 0px, transparent 50%),
        radial-gradient(at 15% 4%, hsla(324, 94%, 67%, 1) 0px, transparent 50%);
}

.contact-form-wrap :is(input, textarea, select) {
    outline: 1.5px solid rgb(146, 146, 146);
}

.contact-form-wrap :is(input, textarea, select):focus {
    outline: 2px solid #2563eb;
}

.get-a-call {
    background-color: white;
}

.get-in-touch {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #2563eb, #00ffea, #2563eb);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200% 100%;
    animation: gradient-animation 2s alternate infinite;
    line-height: 0.9;
}