@tailwind base;
@tailwind components;
@tailwind utilities;

.grad-bg{
background: conic-gradient(from 180deg at 50% 50%, #BD00FF -46.49deg, #BDFF00 79.09deg, #7000FF 181.11deg, #00FF29 263.74deg, #BD00FF 313.51deg, #BDFF00 439.09deg);

opacity: 0.16;
filter: blur(24.5px);
}